/* Scroller 1 */
#scroller {
    position: relative;
}
#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

/* Scroller 2 */
#scroller2 {
    position: relative;
}
#scroller2 .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller2 ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller2 li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

/* img sizing inside of scroller */
.img_scroller {
    width: 39em;
    height: 21em;
}